<form #form="ngForm" novalidate class="d-flex flex-column align-items-center">
  <div class="content-titles">
    <h1 class="fw-bold custom-title">
      Geração de certificado
    </h1>
    <p class="mb-4 custom-subtitle">
      Preencha os dados para gerar um novo certificado
    </p>
  </div>
  <div class="card custom-card w">
    <h2 class="card-title">Novo certificado</h2>
    <div class="mb-3 custom-input-group">
      <label for="name" class="form-label">Nome</label>
      <input [(ngModel)]="nome" #nomeRef="ngModel" maxlength="150" required type="text" id="name" name="nome"
        class="form-control custom-imput" placeholder="Nome do aluno">
      @if (campoInvalido(nomeRef)) {
      <div class="d-flex align-items-center error-message">
        <i class="ph ph-warning-circle"></i>
        <p class="m-0">O nome do aluno é obrigatório</p>
      </div>
      }
    </div>
    <div class="mb-3 d-flex align-items-center">
      <div class="flex-grow-1 me-2 custom-input-group">
        <label for="atividade" class="form-label">Atividade</label>
        <input [(ngModel)]="atividade" #atividaderef="ngModel" maxlength="50" required type="text" id="atividade"
          name="atividade" class="form-control custom-imput" placeholder="Atividade exercida">
        @if (campoInvalido(atividaderef)) {
        <div class="d-flex align-items-center error-message">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome da atividade é obrigatório</p>
        </div>
        }
        @if (atividaderef.errors?.['maxlength']) {
        <div class="d-flex align-items-center error-message">
          <i class="ph ph-warning-circle"></i>
          <p class="m-0">O nome da atividade deve ter no máximo 50 caracteres</p>
        </div>
        }
      </div>
      <app-secondary-button [disabled]="atividade.length == 0" [ngStyle]="campoInvalido(atividaderef) ? {'margin-bottom': '15px'} : {'margin-top': '10px'}" phClass="ph ph-plus" textButton="Adicionar"></app-secondary-button>
    </div>
    <div class="atividade-group">
      <label class="form-label">Lista de atividades</label>
      <div class="item-list w-100">
        @for (atividade of atividades; track $index) {
        <div class="item">
          <span class="item-text">{{ atividade }}</span>
          <div class="remove-btn">
            <i class="ph-bold ph-x"></i>
          </div>
        </div>
        @if ($index +1 != atividades.length) {
        <hr>
        }
        }
      </div>
    </div>
    <app-button [disabled]="true" class="w-100" textButton="Gerar certificado"></app-button>
  </div>
</form>