.custom-card {
  max-width: 672px;
  gap: 3px;
  border-radius: 8px;
  border: 1px solid #E2E8F0;
  padding: 32px;
}

.card-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0;
  color: #1A2856;
}

.atividade-group {
  margin-bottom: 32px;
} 

label {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0;
  color: #1A2856;
}

.custom-imput {
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 8px 12px;
  height: 40px;
}

.custom-imput:focus {
  border: 1px solid #3B5AC2;
  box-shadow: none;
}

.custom-input-group {
  margin-bottom: 20px !important;
}

.custom-input-group:has(input:focus) label{
  color: #3B5AC2;
}

.item-list {
  width: 100%;
  border: 1px solid #E2E8F0;
  border-radius: 8px;
  padding: 16px;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
}

.item-list hr {
  all: unset;
  display: block;
  height: 1px;
  margin: 12px 0;
  background-color: #E2E8F0;
}

.remove-btn i{
  padding: 5.75px;
  color: #E95F5F;
  font-size: 12.5px;
  cursor: pointer;
}

.remove-btn i:hover {
  background-color: #E2E8F0;
  border-radius: 4px;
}

.error-message {
  color: #D71D1D;
  gap: 4px;
  margin-top: 8px;
}

.error-message p {
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  vertical-align: middle;
}

.custom-input-group:has(.error-message) label {
  color: #D71D1D;
}